// Forms

#gform_submit_button_1 {
	padding: .25rem 1rem;
	border: 0;
    border-radius: 6px;
	background: $primary;
    color: #fff;
    transition: .2s;

    &:hover {
    	background: darken($primary, 5%);
    }
}

#field_1_2, .ginput_container_email {
	margin-top: 0;
}

#input_1_1_3,#input_1_1_6 {
	margin-bottom: 0;
}