body {
	margin-bottom: 100vh;
	-webkit-font-smoothing: antialiased;

	a {
		transition: 0.2s;

		&:hover {
			text-decoration: none;
		}
	}
}

.wrapper {
	background: #fff;
}

#page-wrapper, #woocommerce-wrapper {
	padding-top: 8rem;
	padding-bottom: 8rem;
	min-height: 100vh;
}